fastapi>=0.109.0
uvicorn>=0.27.0
pydantic>=2.6.0
langchain>=0.2.0
langchain-openai
langchain-google-genai
python-multipart
pypdf
sentinelhub>=3.9.0
numpy
shapely
python-dotenv
pydantic-settings
tenacity
langchain-community>=0.2.0
duckduckgo-search>=6.1.5
langchain-groq
ddgs

